*{
    margin: 0;
    padding: 0;
    --main-bg-color: #ffffff;
    --primary-color: rgb(10, 184, 228);
    --secondary-color: rgba(11, 128, 236, 0.87);
    --tertiary-color: rgb(49, 165, 231);
    --alternate-color: #000;

    --primary-size: 50px;
    --secondary-size: 40px;
    --tertiary-size: 25px;

    overflow-x: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.iconProperty{
    color: var(--alternate-color);
}

.iconProperty[light=false]{
    color: var(--main-bg-color);
}

body{
    background: var(--main-bg-color);
    transition: all 0.2s ease-in-out;
}

.titlebar{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titleSection{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleName{
    font-size: var(--primary-size);
    color: var(--primary-color);
}

.profile_pic img{
    width: 100px;
    padding: 20px;
    border-radius: 100%;
}

.navigator{
    padding: 1vw;
    margin-right: 5vw;
}

.navigator .icon{
    font-size: 25px;
    float: right;
    margin-left: 20px;
}

.workspace_toolbar{
    display: flex; 
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    margin-bottom: 10px;
}

.pagebutton{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    color: var(--tertiary-color);
}

.pagebutton:hover{
    background: silver;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

.page{
    display: flex;
    margin-left: 35vw;
    flex-direction: column;
}

.pageheader{
    color: var(--secondary-color);
    font-size: var(--secondary-size);
    margin-top: 10px;
    margin-bottom: 10px;
}

.contentheader{
    font-size: var(--tertiary-size);
    font-weight: bold;
    display: flex;
    margin-top: 40px;
    transition: all 0.2s ease-in-out;
}

.contentheader div{
    margin-left: 10px;
}

.contentblock{
    width: 30vw;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

#controlblock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentbutton{
    padding: 15px;
    background: var(--primary-color);
    color: var(--main-bg-color);
    cursor: pointer;
    border-radius: 10px;
}

.contentblock ul{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contentheader[light=false],.contentblock[light=false]{
    color: var(--main-bg-color);
}

.icon{
    cursor: pointer;
}

.emailControlPanel{
    height: 100vh;
    width: 600px;
    background: var(--tertiary-color);
    position: absolute;
    right: -40vw;
    top: 0;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.emailControlPanel[enabled=true]{
    right: -200px
}

.controlPanelSubtitle{
    margin-left: 20px;
    margin-top: 20px;
    font-size: var(--tertiary-size);
    color: var(--main-bg-color);
}

.emailControlPanel .controlPanelInputField input, textarea{
    text-decoration: none;
    border: none;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    border: none;
    outline:none;
    transition:height 1s;
    -webkit-transition:height 1s;
    padding: 5px 10px 5px 10px;
}

.controlPanelInputField{
    margin-top: 12px;
    margin-left: 15px;
    border: 1px solid white;
}

#nameField{
    width: 200px;
    padding: 5px 1px;
}

#messageField{
    padding: 10px 2px;
    overflow-y: hidden;
    width: fit-content;
    height: 20vh;
}

#sendEmailButton, #cancelEmailButton{
    color: var(--main-bg-color);
    margin-left: 15px;
    margin-top: 5px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

#sendEmailButton:hover, #cancelEmailButton:hover{
    background-color: var(--main-bg-color);
    color: var(--tertiary-color);
}

#messageSuccess,#messageFailed{
    margin-left: 15px;
    width: fit-content;
    color: black;
    position: absolute;
    left: 100%;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    color: white;
}

#messageSuccess{
    background: rgb(7, 224, 7);
}

#messageFailed{
    background: rgb(207, 2, 2);
}

#messageSuccess[enabled=true],#messageFailed[enabled=true]{
    left: 0;
}